@font-face {
    font-family: 'bookItalic';
    src: url('fonts/axiata_bookitalic_1-webfont.woff2') format('woff2'),
         url('fonts/axiata_bookitalic_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}